body {
  font-family: "Quicksand", sans-serif;
  color: #f7f4f4;
}

.weather-app {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 800px;
  padding: 35px;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 20px;
}

ul {
  font-size: 20px;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 20px 0px 30px 0;
  text-transform: capitalize;
}

.current-weather {
  text-align: right;
}

p1 {
  font-size: 50px;
  margin-bottom: 30px;
}

p2 {
  font-size: 120px;
}

.forecast-temperature {
  font-size: 30px;
}

.hourly-forecast {
  margin-bottom: 30px;
  text-align: center;
}

footer {
  color: #dfd9d9;
  margin-top: 10px;
  text-align: center;
}

.current-weather {
  position: relative;
  top: -50px;
}

#fahrenheit-link,
#celsuis-link {
  color: #f7f4f4;
  text-decoration: none;
}

#fahrenheit-link.active:hover,
#celsuis-link.hover {
  color: #f7f4f4;
}

.active {
  color: #f7f4f4;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}

.active:hover {
  color: #f7f4f4;
  text-decoration: none;
  font-weight: thinner;
}

.btn btn light {
  display: inline;
}

#temperature {
  font-size: 70px;
}

#current-units {
  position: relative;
  font-size: 20px;
  top: -30px;
}
